body {
    background-color: cadetblue;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 400 !important;
    font-style: normal !important;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}


.navbar {
    min-height: 5rem;
    background-color: white;
    margin-bottom: 1rem;
}

.fa-compass {
    color: crimson;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer */

.f-info-links a {
    text-decoration: none;
    color: #222222;
    margin: 0.2rem;
}

.f-info-links a:hover {
    text-decoration: underline;

}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.3rem;
}

.f-info {
    text-align: center;
    height: 6rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0.5rem !important;
}

.card-text p {
    font-weight: 400;

}

.listing-link {
    text-decoration: none;
}

/* Card effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.3;
   background-color: white;
    cursor: pointer;


}

.show-img {
    height: 40vh !important;
}

.reviewCard {
    width: 48% !important;
}
#filter{
    display: flex;
    flex-wrap:wrap;
}
.filter{
    text-align: center;
    margin-left: 2rem;
    opacity: 0.8;
    margin-top: 0.5rem;
}
.filter:hover{
    cursor: pointer;
    color: crimson;
    background-color:white;
}
.filter p {
     font-size: 0.8rem;
}
.tax-info{
  display: none;
}
.tax-toggle{
    border:1px solid rgb(177, 171, 171) ;
    border-radius:1rem;
    padding: 1rem;
    margin-left: 2.5rem;
}
.btn-search i{

 display:inline;
 margin-right: 0.3rem;

}
.btn-search {
    border-radius:2rem !important;
}
.search-input{
     border-radius:2rem !important;
     padding: 0.5rem 3rem 0.5rem 3rem!important;
     font-size: 1rem !important;
}

     